<mat-card [class.mat-elevation-z10]="true" [formGroup]="loginForm">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content class="content">
    <mat-form-field>
      <input type="email" formControlName="email" matInput placeholder="Email" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
      <input type="password" formControlName="password" matInput placeholder="Contraseña" autocomplete="off">
    </mat-form-field>
    <mat-checkbox formControlName="rememberme">Recordarme</mat-checkbox>
  </mat-card-content>
  <mat-card-actions>
    <button
      [disabled]="loginForm.invalid"
      mat-raised-button color="primary"
      (click)="login()"
      >
      Ingresar
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <p>Si no tienes cuenta puedes crearla <a routerLink="/register">aquí</a></p>
  </mat-card-footer>
</mat-card>
